{%extends 'base.html'%}
{% load bootstrap4 %}
{% load static %}
{% block styles %}
{% bootstrap_css %}

{% endblock %}
{% block content %}
{{ block.super }}
<div class="container" style="font-family: 'Forum', cursive;">
    <div class="row">
        <div class="col-7">
            {% for image in images %}
            <div class="card" style="width: 30rem; margin-top: 20px;">
                <div class="card-title">
                    <img src="{{image.user.photo.url}}" class="rounded-circle border ml-3 mt-2  mr-3"
                        alt="{{image.user.user.username}}" width="45" height="45">
                    <a href="{% url 'user_profile' image.user.user.username  %}" class="mt-4   user"
                        style="padding: 6px; color: black; font-weight: bold;">{{image.user.user.username|title}}</a>
                </div>
                <div class="card-body">
                    <a href="{% url 'comment' image.id %}"><img src="{{ image.image_url }}" class="card-img-top"
                            alt="..." height="320px" style="width: 100%;"></a>
                    <!-- <span>{{ total_likes }} like{{ total_likes | pluralize}}</span> -->
                    <a href="{% url 'like' image.id %}" class="text-dark">
                        <span class="iconify " data-icon="icon-park-outline:like" data-width="30"
                            data-height="30"></span>
                    </a> &nbsp; &nbsp;
                    <a href="{% url 'comment' image.id %}" class="text-dark">
                        <span class="iconify" data-icon="fa-regular:comment" data-width="30" data-height="30"></span>
                    </a> <br>
                    <hr>
                    <p class="card-text"><strong>{{ image.likes.count }} Likes</strong></p>
                    <p class="card-text"><strong>{{ image.caption }}</strong></p>
                    <hr>
                    <p class="card-text text-default"><strong>{{ image.pub_date }}</strong></p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-4" style="margin-top: 20px;">
            <h4 class="fonting" style="color:inherit">Interesting profiles you can follow</h4>
            {% for user in users %}
            <div class="container">
                <div class="row">
                    <div class="col-md-2 mr-3 mt-1 mb-2">
                        <!-- <img class="rounded-circle" src="{{ user.profile.photo.url }}" width="45px" height="45px"> -->
                    </div>
                    <div class="col-md-6 mr-2 mt-2">
                        <span><a style="color:black"
                                href="{% url 'user_profile' user.username  %}">{{ user.username }}</a></span>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}