{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
{% load static %}
<div class="container mt-4 ">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="" style="position: fixed;   padding: 15px; margin: 40px; background: linear-gradient(145deg, #D9D9D9, #FFFFFF);
border-radius: 10%;
box-shadow: 9.91px 9.91px 15px #E8E8E8, -9.91px -9.91px 15px #FFFFFF;">
                <form action="" method="POST" enctype="multipart/form-data" novalidate>
                    <h3 style="text-align: center;"> <strong>Create Post</strong> </h3>
                    {%csrf_token%}
                    {% bootstrap_form form layout='inline' %} <br>
                    <button type=submit class="btn btn-sm btn-secondary" style="margin-left: 5px;" value="Upload">choose
                        file</button>
                </form>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
{% endblock %}