body{
    font-family: 'K2D', sans-serif;
    
  }
.page-footer{
    overflow: hidden;
    position: fixed-bott;
    bottom: 0;
    width: 100%;
  }
  /* .register{
      background-color: aqua;
      width: fit-content;
      margin-left: 40%;
      margin-bottom: 5%;
  } */
  .signup{
    width:fit-content;
    background-color:azure;
    margin-left: 40%;
    margin-bottom: 5%;
  }
  .cardy{
    width:fit-content;
  }
  .button2{
    border-radius: 8px;
  }
  .button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .instagra{
    color:crimson
   
  }
  .mt-8{
    margin-top: 20%;
  }
  