body{
    font-family: 'K2D', sans-serif;
    
  }
.page-footer{
    overflow: hidden;
    position: fixed-bott;
    bottom: 0;
    width: 100%;
  }
  /* .register{
      background-color: aqua;
      width: fit-content;
      margin-left: 40%;
      margin-bottom: 5%;
  } */
  .signup{
    width:fit-content;
    background-color:azure;
    margin-left: 40%;
    margin-bottom: 5%;
  }