{%extends 'general/base.html'%}

{% block content %}
{{ block.super }}
<div class="container">
    {% for image in images %}
    <div class="grid-item">
         <div class="card cardy" style="width: 33rem; margin-top: 3rem; margin-left: 30%;">
             <div class="card-body">
                 <a href=""><img src="{{ image.post_image.url }}" class="card-img-top"
                         alt="..." style="width: 100%;"></a>
                 <p class="card-text">{{ image.post_caption }}</p>
             </div>
         </div>
         {% endfor %}
    </div>
</div>


{% endblock %}
